name: Docker Image CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Build and deploy the Docker image
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: docker compose up -d --build --force-recreate